#ignore .env file that stores sensitive data
*/.env

#ignore compiled Python files
*.pyc
__pycache__/

#ignore Django migrations
*/migrations/*

#ignore the database file(If you are using SQLite)
db.sqlite3

#ignore .csv files
**/*.csv

#ignore media files
/media/

#ignore static files(If not committed)
staticfiles/

#ignore virtual environment directories
venv/
.env
.venv

#ignore IDE files(e.g, for VSCode, PyCharm)
.vscode/
.idea/