{% extends 'stat_testing_base.html' %}

{% block content %}
{% load index %}
{% load static %}
    <h1 class="header">Upload your dataset (Accepted file formats: .csv)</h1>
    <!-- upload data -->
    <div class = 'container'>
        <div class = 'upload_zone'>
            <form method = 'POST' accept = '.csv' id = 'csvInput' enctype = 'multipart/form-data'>
            {% csrf_token %}
            {{ form }}
            <input type = 'submit' value = 'Submit'>
            </form>
        </div>
        <!-- preview uploaded csv file-->
        <div id = 'info' class = 'info'></div>
        <div id = 'preview' class = 'preview-container'></div>
        <script src = "{% static 'preview_csv.js' %}"></script>
    </div>
{% endblock %}